RDataAnalysis/charts/*.pdf
RDataAnalysis/charts/paths/*.pdf
RDataAnalysis/tables/*.csv
transformed.txt
measures.txt
RDataAnalysis/charts/boxplot/*.pdf
RDataAnalysis/charts/hist/*.pdf
RDataAnalysis/charts/lineplot/*.pdf
RDataAnalysis/data
