RDataAnalysis/charts/*.pdf
RDataAnalysis/charts/paths/*.pdf
RDataAnalysis/tables/*.csv
transformed.txt
measures.txt
RDataAnalysis/charts/boxplot/*.pdf
RDataAnalysis/charts/hist/*.pdf
RDataAnalysis/charts/lineplot/*.pdf
RDataAnalysis/data
RDataAnalysis/*.Rhistory
RDataAnalysis/charts/questionnaire/*.pdf
.Rproj.user
RDataAnalysis/cache
RDataAnalysis/figure
.Rapp.history
